esp-inference/build/
esp-mems/.vscode/
esp-inference/.vscode/
esp-inference/managed_components
esp-inference/main/connection/connection.h
**/__pycache__/
dockerdata/
report/report.aux
report/report.bbl
report/report.blg
report/report.log
report/report.out
report/report.synctex.gz
report/report.toc
