firmware/build/
esp-mems/.vscode/
firmware/.vscode/
firmware/managed_components
firmware/main/connection/connection.h
**/__pycache__/
dockerdata/
report/report.aux
report/report.bbl
report/report.blg
report/report.log
report/report.out
report/report.synctex.gz
report/report.toc
.vscode/