menu "Model Ensemble Configuration"
    config MODEL_ENSEMBLE_ENABLED
        bool "Enable Model Ensemble"
        default y
        help
            Enable the Model Ensemble component that integrates routing and submodel execution.

    config RECORD_INFERENCE_TIME
        bool "Record and Telemetry Inference Execution Time"
        default y
        help
            Measure inference execution time in ms and send it in the InferencePacket CBOR payload.
endmenu
